body {
    background-color: white;
}
/*first section*/
.FS {
    border: 2px solid turquoise;
    border-radius: 20px;
    border-width: 20px;
    border-color: rgb(130, 233, 89);
    padding: 10px;
    border-style: groove;
    box-shadow: 10px 10px 5px rgb(31, 228, 64);
    color: rgb(149, 245, 213);
    background-color: rgb(208, 240, 229);
}

.Fs {
    font-size: 18px;
    color: green;
}
.first {
    font-size: 14px;
    color: green;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
/*second section*/
.Second {
    border: 2PX solid burlywood;
    border-radius: 20px;
    border-width: 20px;
    border-style: groove;
    padding: 10px;
    margin-top: 40px;
    box-shadow: 10px 10px 5px rgb(238, 112, 112);
    background-color: antiquewhite;
}
.Ss {
    color: red;
    font-size: 18px;
}
.SEC {
    color: red;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Third section*/
.TS {
    font-size: 18px;
    color: blue;
}
.third {
    border-radius: 20px;
    border: 2px slateblue;
    border-radius: 20px;
    border-width: 20px;
    border-style: groove;
    margin-top: 40px;
    padding: 10px;
    box-shadow: 10px 10px 5px rgb(153, 157, 158);
    margin-bottom: 30px;
    background-color: azure;

}
.ts {
    color: blue;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

}